*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

/*------ header------ */

.header {
  width: 100%;
  height: 130px;
}

.header-info {
  width: 100%;
  height: 30px;
  background-color: rgb(207, 80, 80);
}

.header-info-container {
  display: flex;
  align-items: center;
}

.header-info-item {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 5px;
}

.header-info-item:nth-child(3) img {
  width: 8px;
}

.header-info-item img {
  width: 10px;
}

.header-info-item p {
  margin-left: 5px;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 6px;
}

.header-navbar {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
  z-index: 1000;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.container-navbar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.container-navbar img {
  width: 120px;
}

.navbar-btn {
  display: flex;
  align-items: center;
  background-color: rgb(207, 80, 80);
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-btn:hover {
  filter: brightness(1.4);
}

.navbar-btn img {
  width: 15px;
  margin-right: 5px;
}

.navbar-btn a {
  text-decoration: none;
  color: #f1f1f1;
}

/*------ Hero ------ */

.hero-section {
  width: 100%;
  height: 300px;
  background-color: black;
  z-index: 999;
  overflow: hidden;
}

.container-hero {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/fond_hero.jpg);
  background-position: 25% 80%;
  background-size: cover;
  animation: zoom 7s ease-in-out infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.hero-img-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-img-info img {
  width: 300px;
  margin-top: 50px;
}

.hero-title {
  color: #f1f1f1;
  font-size: 17px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: #000 1px 0 20px;
}

.hero-text {
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  text-shadow: #000 1px 0 20px;
}

.hero-img-info a {
  text-decoration: none;
  margin-top: 30px;
  background-color: rgb(207, 51, 51);
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 5px;
}

.hero-img-info a:hover {
  filter: brightness(1.4);
}

/*------ Body ------ */

.body-section {
  width: 100%;
  max-width: 1024px;
}

.body-item {
  width: 80%;
  margin: 30px auto;
}

.body-title {
  font-size: 15px;
  font-weight: 500;
  color: rgb(207, 51, 51);
}

.line {
  height: 1px;
  width: 80%;
  margin: 20px auto;
  background-color: rgb(143, 143, 143);
}

.body-video {
  width: 100%;
  display: flex;
  justify-content: center;
}

.body-video iframe {
  border: 1px solid rgb(143, 143, 143);
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
}

.body-services {
  display: flex;
  margin-top: 40px;
}

.body-services-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.body-icon {
  font-size: 15px;
  color: rgb(207, 51, 51);
  margin-right: 10px;
}

.body-services-item:hover .body-icon {
  animation: iconZoom 1s ease-in-out infinite;
}

@keyframes iconZoom {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.body-services-item h2 {
  font-size: 9px;
  font-weight: 400;
  color: #333;
}

/*------ Product ------ */

.container-product {
  width: 100%;
  margin: 30px auto;
}

.product-title {
  font-size: 15px;
  font-weight: 500;
  color: rgb(207, 80, 80);
}
.ligne-title {
  width: 90px;
  height: 1px;
  background-color: rgb(207, 80, 80);
}

.container-product-item {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.product-item {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 10px 20px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 8px;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.product-item:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
}

.product-item img {
  width: 100%;
  height: 135px;
  border-radius: 5px;
}

.container-title-price {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.product-name {
  font-weight: 500;
  color: #333;
  font-size: 10px;
}

.product-price {
  font-weight: 500;
  color: rgb(94, 94, 94);
  font-size: 10px;
}

.price {
  color: crimson;
  font-weight: bold;
}

.product-des {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  font-size: 10px;
  text-align: center;
  background-color: rgb(251, 50, 50);
  padding: 10px 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  font-weight: bold;
  cursor: default;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(207, 51, 51);
}

footer p {
  text-align: center;
  line-height: 50px;
  color: #f1f1f1;
}

/*------ MEDIA QUERY ------ */

@media (min-width: 717px) {
  .header-info-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  .header-info-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
  }

  .header-info-item:nth-child(3) img {
    width: 13px;
  }

  .header-info-item img {
    width: 15px;
  }

  .header-info-item p {
    margin-left: 10px;
    font-size: 14px;
  }

  .header-navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 1000;
  }

  .container-navbar {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .container-navbar img {
    width: 170px;
  }

  .navbar-btn {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
  }

  .navbar-btn img {
    width: 15px;
    margin-right: 5px;
  }

  .hero-section {
    width: 100%;
    height: 500px;
    z-index: 999;
    overflow: hidden;
  }

  .hero-img-info img {
    width: 500px;
    margin-top: 50px;
  }

  .hero-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hero-text {
    font-size: 25px;
  }

  .hero-img-info a {
    text-decoration: none;
    margin-top: 80px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
  }

  .body-title {
    font-size: 30px;
  }

  .body-icon {
    font-size: 30px;
    margin-right: 10px;
  }

  .body-services-item h2 {
    font-size: 22px;
  }

  /*------ Product ------ */

  .container-product {
    width: 80%;
    margin: 50px auto;
  }

  .product-title {
    font-size: 25px;
    font-weight: 500;
  }
  .ligne-title {
    width: 148px;
    height: 1px;
  }

  .product-item {
    position: relative;
    width: 550px;
    height: 500px;
    margin: 10px 20px;
    border-radius: 8px;
    padding: 10px;
  }

  .product-item img {
    width: 528px;
    height: 335px;
    border-radius: 5px;
  }
  
  .container-title-price {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .product-name {
    font-weight: 500;
    color: #333;
    font-size: 14px;
  }

  .product-price {
    font-weight: 500;
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  .product-des {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    font-size: 15px;
    text-align: center;
    padding: 10px 20px;
  }
  

  
 
}
